<h3>Form validation</h3>

<form>
    <div class="form-field">
        <input type="text" name="name" class="form-control" value="<%= name %>" >
        <span class="form-field__tooltip--helper js-form-field-helper"></span>
        <span class="form-field__tooltip--error js-form-field-error"></span>
    </div>

    <div class="form-field">
        <input type="text" name="surname" class="form-control" value="<%= surname %>">
    </div>

    <div class="form-filed">
        <input type="text" name="email" class="form-control" value="<%= email %>">
    </div>

</form>