<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id = "container">Empty  #container</div>

    <div id = "calendar">Empty #calendar </div>

    <script src="js/bundle.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modules/greeting/index.js"></script>
    <script src="js/modules/calendar/index.js"></script>

  </body>
</html>
