<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id = "container">Empty  #container</div>

    <div id = "calendar">Empty #calendar </div>

    <div id = "validateView">Empty #validateView </div>

    <script src="js/bundle.js"></script>
    <!--<script src="js/localization.js"></script>-->
    <script src="js/bootstrap.js"></script>

    <script src="js/modules/greeting/index.js"></script>

    <!--Календарь-->
    <script src="js/modules/calendar/index.js"></script>

    <!--Представление с валидацией полей-->
    <script src="js/modules/validateView/index.js"></script>

  </body>
</html>
