<div class="calendar">

    <div class="calendar__header">
        <span class="js-prev-month">&laquo;</span>
        <%= month %> <%= year %>
        <span class="js-next-month">&raquo;</span>
    </div>

    <div class="calendar__body"></div>

</div>
