.calendar {
  width: 280px;
  padding: 1em;
  border: solid 1px gray;

  &:after {
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
    content: "clearfix";
  }

   &__header {
     text-align: center;
   }

   &__day {
       float: left;
       width: 13.5%;
       margin: 1px;
       text-align: center;
       line-height: 2em;
       background: lightgray;
       cursor: pointer;

       &--weekday {
           background: lightpink;
           cursor: auto;
       }

       &.is-active {
           background: lightsteelblue;
       }
   }

   &__day:nth-child(7n) {
     color: yellow;
   }

}